<div id="template" class="well" ng-init="initializeData()">
    <div class="page-header">
        <h2>Android Config Page</h2>
    </div>
    <h4>Select your IDE</h4>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-click="toEclipse()"><a href="#">Eclipse</a></li>
        <li role="presentation" ng-click="toAndroidStudio()"><a href="#">Android Studio</a></li>
    </ul>

    <br>

    <!-- IDE-specific settings -->
    <div ng-if="ide == 'Eclipse'" class="well"> 
    <!-- WARNING: ng-if creates a new child scope! https://github.com/angular/angular.js/issues/4046 
        http://stackoverflow.com/questions/17606936/angularjs-dot-in-ng-model/17607794#17607794--> 
        If you are testing a library then check this box: 
        <input type="checkbox" ng-model="isLibrary" ng-click="changeIsLibrary()"> 
        <br><br>
        <p> 
            In an Eclipse project you should have two folders in the root directory: one with your test project and one that has a project to be tested. You should specify what the name of your testing folder is below. If you don't input anything then strider-android will pick the first one that contains 'test' in the name.
        </p>
        <br>
        Test Folder Name: <input type="text" ng-model="eclipseModel.testFolderName" ng-change="changeTestFolderName()"> 
            <div ng-if="eclipseModel.savingFolderName == true"> <!-- a spinner to indicate that the text field isn't saved yet -->
                <i class="fa fa-cog fa-spin"></i>
            </div>
        </input>
        
        <br>

    </div>
    
    <div ng-if="ide == 'AndroidStudio'" class="well"> 
        No extra configurations required for Android Studio
    </div>
    <!-- SDK Directory -->
    <p>
        If you do not have an environmental variable set up for your Android SDK home directory then you may specify it here.
        Include a full directory from your root to the folder name of the SDK
        <br>
        This will only work on Linux-based machines
        <br>
        Example input (if the folder for the sdk is in the root directory): android-sdk-linux
    </p>
    SDK Directory: <input type="text" ng-model="sdkLocation" ng-change="changeSdkLocation()"> </input>

    <!-- General device settings -->
    <h4> Device Settings </h4>
    <div class="well well-sm">
        <button ng-click="retrieveDevices()" class="btn btn-primary">Grab Android Devices</button>
        <br>

        <div ng-if="deviceResults != ''">
            <br>
            Click on any row to select the corresponding device
            <table class="table" >
                <tr>
                    <th>Name</th>
                    <th>Target</th>
                    <th>ABI</th>
                    <th></th>
                </tr>
                <tr ng-repeat="(key, value) in deviceResults">
                    <div ng-model="deviceList">
                        <th ng-click="selectDevice(key)">[[value.name]]</th>
                        <th ng-click="selectDevice(key)">[[value.target]]</th>
                        <th ng-click="selectDevice(key)">[[value.abi]]</th>
                        <th><button ng-click="deleteDevice(value.name)" class="btn btn-danger">Delete device</button></th>
                    </div> 
                </tr>
            </table>
        </div>

        <br>
        
        <div ng-if="deviceSelected == ''" class="alert alert-warning" role="alert">
            <b> No device selected </b> 
        </div>
        <div ng-if="deviceSelected != ''" class="alert alert-success" role="alert">
            <b> [[deviceSelected]] is your selected device </b> 
        </div>
        <br>

        <h4> Add a new virtual device here: </h4>
        <h5> Warning: Only the alphanumeric characters, -, _, and . are allowed. All other characters will be ignored </h5>
        <br>
        <button ng-click="retrieveTargets()" class="btn btn-primary">Grab Targets</button>
        <br>

        <table class="table">
            <tr>
                <th>Name: <input type="text" ng-model="deviceName"> </th>
                <th>Target: <select ng-options="target.name for target in targetResults" ng-model="targetOptions"> </th>
                <th>ABI: <select ng-options="abi for abi in targetOptions.abis" ng-model="abiOptions"> </th>
            </tr>
        </table>

        <div ng-if="targetOptions.api">
            <h5 > API Level: <span class="label label-warning"> <b> [[targetOptions.api]] </b> </span> </h5>
        </div>
        
        <br><br>
        <button ng-click="createDevice()" class="btn btn-primary">Create New Device</button>
        <br>

    </div>

    <div class="jumbotron" role="alert" ng-if="dataResult != ''"> 
        Output: certain errors that are checked for will appear here
        <pre>[[dataResult]] </pre> 
    </div>

</div>