<div id="template" class="well">
    <h2>Template Config Page</h2>
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <br/>
    <br/>
    <p class="help-text">
        These are some messages for demonstrating how the plugin saves config data and reports it during the test process.
        Each message used slightly differently, so see `worker.js` for different ways to execute actions using config data
    </p>

    <button ng-click="retrieveData()" class="btn btn-primary">Grab Android Devices</button>
    <br/>

    <div ng-if="results != ''"> Device List: </div>
    <table class="table" ng-if="results != ''">
        <tr>
            <th>Name</th>
            <th>Target</th>
            <th>ABI</th>
            <th>Skin</th>
            <!--<th>Selected</th>-->
        <tr ng-repeat="(key, value) in results" ng-click="selectDevice(key)" ng-model="deviceList">
            <th>[[value.name]]</th>
            <th>[[value.target]]</th>
            <th>[[value.abi]]</th>
            <th>[[value.skin]]</th>
            <!--<th><input type="radio", ng-model="selectedDevice">[[key]]</th>-->
        </tr>
    </table>

    <br/>

    <!--
        <table class="results-table table table-striped table-bordered">
            <tr> 
                <th>method</th>
                <th>ip</th>
                <th>url</th>
                <th>status</th>
                <th>time</th>
            </tr>
            
            <tr ng-repeat-start="(key,value) in data">
                <div ng-init="visiblePretty = false">
                    <th>{{value.request.method}}</th>
                    <th>{{value.request.ip}}</th>
                    <th>{{value.request.url}}</th>
                    <th>{{value.response.status}}</th>
                    <th>{{value.request.time}}</th>
                    <th><button ng-click="makePretty(key); visiblePretty = !visiblePretty">View</button></th>
                </div>
            </tr>
            <tr ng-repeat-end>
                <td colspan="6"><pre ng-bind-html="result" ng-show="visiblePretty"></pre></td>
            </tr>

        </table>



    <h3>Environment</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.environment"></textarea>
        </div>
    </div>
    <br/>
    <h3>Prepare</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.prepare"></textarea>
        </div>
    </div>
    <br/>
    <h3>Test</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.test"></textarea>
        </div>
    </div>
    <br/>
    <h3>Deploy</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.deploy"></textarea>
        </div>
    </div>
    <br/>
    <h3>Cleanup</h3>
    <div class="row-fluid cleanup">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.cleanup"></textarea>
        </div>
    </div>
    -->
    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>